@model Kuafor.Web.Models.Profile.ProfilePageViewModel
@{
    ViewData["Title"] = "Profile";
}
<div class="container py-4">
    <h3 class="mb-3">Profil</h3>
    
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-identity" type="button" role="tab">Kimlik & İletişim</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-addresses" type="button" role="tab">Adresler</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-notifications" type="button" role="tab">Bildirimler</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-preferences" type="button" role="tab">Tercihler</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-loyalty" type="button" role="tab">Sadakat & Kuponlar</button></li>
        <li class="nav-item" role="presentation"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-security" type="button" role="tab">Güvenlik</button></li>
    </ul>

    <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="tab-identity" role="tabpanel">
            <partial name="Partials/_Profile.Identity" model="Model.Identity" />
        </div>
        <div class="tab-pane fade" id="tab-addresses" role="tabpanel">
            <partial name="Partials/_Profile.Addresses" model="Model.Addresses" />
        </div>
        <div class="tab-pane fade" id="tab-notifications" role="tabpanel">
            <partial name="Partials/_Profile.Notifications" model="Model.Notifications" />
        </div>
        <div class="tab-pane fade" id="tab-preferences" role="tabpanel">
            <partial name="Partials/_Profile.Preferences" model="Model.Preferences" />
        </div>
        <div class="tab-pane fade" id="tab-loyalty" role="tabpanel">
            <partial name="Partials/_Profile.Loyalty" model="Model.Loyalty" />
            <div class="my-3"></div>
            <partial name="Partials/_Profile.Coupons" model="Model.Coupons" />
        </div>
        <div class="tab-pane fade" id="tab-security" role="tabpanel">
            <partial name="Partials/_Profile.Security" model="Model.Security" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/profile-identity.js"></script>
    <script src="~/js/profile-addresses.js"></script>
    <script src="~/js/profile-notifications.js"></script>
    <script src="~/js/profile-preferences.js"></script>
    <script src="~/js/profile-loyalty.js"></script>
    <script src="~/js/profile-coupons.js"></script>
    <script src="~/js/profile-security.js"></script>
}