@model List<Kuafor.Web.Models.Entities.Service>

<li><a class="dropdown-item" asp-controller="Services" asp-action="Index">Tüm Hizmetler</a></li>
@if (Model.Any())
{
    <li><hr class="dropdown-divider" /></li>
   /* @foreach (var service in Model)
    {
        <li><a class="dropdown-item" asp-controller="Services" asp-action="Details" asp-route-id="@service.Id">@service.Name</a></li>
    }*/
}
