<div class="modal fade" id="appointmentDetailModal" tabindex="-1" aria-labelledby="appointmentDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentDetailModalLabel">Randevu Detayı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <dl class="row mb-0">
                    <dt class="col-4">#</dt>
                    <dd class="col-8" id="apd-id"></dd>
                    <dt class="col-4">Tarih/Saat</dt>
                    <dd class="col-8" id="apd-when"></dd>
                    <dt class="col-4">Süre</dt>
                    <dd class="col-8" id="apd-duration"></dd>
                    <dt class="col-4">Müşteri</dt>
                    <dd class="col-8" id="apd-customer"></dd>
                    <dt class="col-4">Hizmet</dt>
                    <dd class="col-8" id="apd-service"></dd>
                    <dt class="col-4">Şube</dt>
                    <dd class="col-8" id="apd-branch"></dd>
                    <dt class="col-4">Kuaför</dt>
                    <dd class="col-8" id="apd-stylist"></dd>
                    <dt class="col-4">Fiyat</dt>
                    <dd class="col-8" id="apd-price"></dd>
                    <dt class="col-4">Durum</dt>
                    <dd class="col-8" id="apd-status"></dd>
                    <dt class="col-4">Not</dt>
                    <dd class="col-8" id="apd-note"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
